* {
margin-right: 0;
padding: 0;
}

.main {
  text-align: center;
  width: 100vw;

}

.container {
  background-color:grey;
  padding: 10px;
  width: 500px;
  text-align: center;
  margin: 0 auto;
}

.city {
  width: 100%;
  position: relative;
}

.city img{
    object-fit: cover;
    width: 100%;
    object-position: center;

}

.text {
  color:white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
